.container_action{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.container_action_right{
    display: flex;
    gap: 20px;
}
.container_all_projects{
    margin-top: 1rem;
    margin-right: -15px;
}
.container_all_projects .ant-col{
    padding-right: 0.75rem;
    padding-bottom: 0.75rem;
}
