/* CSS for PostComponent */
.header {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
  }
  
.header .header-info {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
    font-family: "Poppins", sans-serif;
}

.header .header-action {
    width: 5%;
}

.title {
    padding: 15px 0;
}

/* Single image styling */
.images .single-image {
    width: 100%;
    display: block;
    border-radius: 8px;
}

/* Multiple images styling */
.images .multiple-images {
    position: relative;
    width: 100%;
}

.images .first-image {
    width: calc(100% - 50%);
}

.images .second-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    object-fit: cover;
}

.action {
    padding: 15px 0;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.action .ant-btn {
    border: none;
}

.action .ant-btn:nth-child(1):hover {
    background-color: red;
    color: white; /* Màu chữ khi hover nút Like */
    border-color: red; /* Màu viền khi hover nút Like */
}

.action .ant-btn:nth-child(2):hover {
    background-color: black;
    color: white; /* Màu chữ khi hover nút Dislike */
    border-color: black; /* Màu viền khi hover nút Dislike */ /* Màu nền khi hover nút Dislike */
}
