.task-page {
    min-height: 100vh;
    margin: 30px;
  }
  
  .task-title {
    font-size: 18px;
    padding-bottom: 20px;
  }
  
  .filter-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
  }
  
  .filter-section {
    margin-bottom: 16px;
  }
  
  .filter-title {
    font-weight: bold;
    margin-top: 0;
  }
  
  .radio-item {
    margin-bottom: 8px;
  }
  
  .apply-button {
    margin-top: 16px;
    width: 100%;
    background-color: #038edc;
  }
  
  .container_action {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .add-task-btn {
    color: #038edc;
    background-color: rgba(3, 142, 220, 0.1);
  }
  
  .filter-btn {
    color: #038edc;
    background-color: rgba(3, 142, 220, 0.1);
    padding: 0.5rem;
  }
  
  .task-card-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    width: 100%;
    overflow: hidden;
    flex-direction: column;
    gap: 20px;
  }
  