.ant-card-actions {
    border: none !important;
    display: flex !important; /* Thêm display flex để kích hoạt space-between */
}
.ant-card-actions li {
    display: flex;
    justify-content: center !important;;
    align-items: center;
}
/* Hiệu ứng hover cho thẻ dự án */
.ant-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Tạo chuyển đổi mượt mà */
}

.ant-card:hover {
    transform: translateY(-5px); /* Di chuyển thẻ lên trên khi hover */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Thêm bóng mờ khi hover */
    cursor:pointer; 
}
.ant-card-actions li:hover {
    background-color: white !important;
}