.container_admin_account{
    padding: 20px 40px;
}
.container_admin_account_title{
    margin: 30px 0;

}
.container_admin_account_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container_admin_account_action{
    display: flex;
    height: 100%;
    gap: 10px;
}
.container_admin_account_action button{
    width: 100px;
    margin: 0;
}
.table-pagination {
    justify-content: center !important;
}